{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "java",
                    "python"
                ],
                "plugins": [
                    "line-numbers"
                ],
                "theme": "twilight",
                "css": true
            }
        ]
    ]
}